#hero{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) );
  background-color: #07152E!important;
  background-size: cover;
  background-position: center;
  height: 100vh!important;
  width: 100%!important;
}
.city-title{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #232c34;
  padding: 1.5rem;
}
.city-temp{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #232c34;
}
.sup{
  color: #F3F3F3;
  background-color: #61CDE9;
  padding: .5rem;
  border-radius: 50%
}
.card-x{
  border-radius: 25px;
}